body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: Roboto, sans-serif;
}

h1{
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
}

.container{
    background-color: beige;
}

header{
    background-color: blue;
}

.hero{
    background-color: aqua;
}

.products{
    background-color: darkred;
}

.services{
    background-color: yellow;
}

.brands{
    background-color: red;
}

.payMethods{
    background-color: green;
}

footer{
    background-color: gray;
}