body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: Roboto, sans-serif;
}

h1{
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
}

.container{
    background-color: beige;
}

.header{
    background-color:  #3729b9;
}

.info{
    height: 50px;
}

.menu{
    background-color:  #2980b9;
    color: white;
}

.header a{
    color: white;
    text-decoration: none;
}

.hero{
    background-image: url('../images/LOGOWSG222.png');
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position: right;
    height: 300px;
}

.products{
    background-color: darkred;
}

.product{
    background-color: green;
    display: inline-block;
    width: 25%;
}

.services{
    background-color: yellow;
}

.service{
    display: inline-block;
    width: 33%;
}

.brands{
    background-color: red;
}

.payMethods{
    background-color: green;
}

footer{
    background-color: gray;
}